body {
    display: flex;
    flex-direction: column;
}

.main {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 24px auto 24px auto;
}

.footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 24px auto 24px auto;
}

.footer a {
    text-decoration: none;
    color: white;
}